@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
a{ text-decoration:none; }
img{ border: none; }
body{
	background: #ffffff url(../img/bg170126.jpg) center top no-repeat;
	position: relative;
	font-family:  Arial, Helvetica, "Microsoft JhengHei", sans-serif;
	box-sizing: border-box;
	width: 100%;
}
#body-01{
	margin-top: 0px;
}

/* For FireFox */
@-moz-document url-prefix() { 
  #body-01{
	margin-top: -5px;
  }
}

#wrap{
	width: 932px;
	margin: 0 auto;
}

#title-04{
	background: none;
	width: 932px;
	height: 0px;
}


#title-05{
	background: #000 url("../img/pro3_1212_00.png") no-repeat;
	width: 932px;
	height: 317px;
	padding-top: 92px;
	padding-left: 8px;
}

.imgBox{
	float: left;
}

.imgBox img{
	width: 306px;  /* 小圖桌機尺寸 */
}


#title-06{
	background: #ff0000 url("../img/bar110126_01.jpg") no-repeat;
	width: 932px;
	height: 50px;
	margin-left: -2px;
}

#title-07{
	background: #ff0000 url("../img/bar110126_02.jpg") no-repeat;
	width: 932px;
	height: 50px;
	margin-left: -2px;
}

#title-08{
	background: #ff0000 url("../img/bar110126_03.jpg") no-repeat;
	width: 932px;
	height: 50px;
	margin-left: -2px;
}

.row{
	width: 100%;
	float: left;	
}

.rows{
	width: 100%;
	float: left;
	border-left: 1px solid #ccc;	
}

.col-d-6{
	width: 932px;
}


/* API CSS */
#BOX{
	width: 932px;
	margin: 0 auto;
}

.box{
	position: relative;
	background-color: #fff;
	width: 171px;
	height: 189px;
	text-align: center;
	float: left;
	padding: 0px 7px 14px 7px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.imgs img{
	width: 160px;
	height: 160px;
}

/* 3 Box CSS */

#threebox{
	background: #ee0000;
	height: 181px;
	padding-top: 5px;
}

#timers{
	margin: 0 0 5px 12px;
	color: #FF0;
	font:13px/1.5 Verdana,Helvetica,Arial;
	font-weight:bold;
}

.boxa{
	position: relative;
	background-color: #fff;
	width: 295px;
	height: 140px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

#txtBox{
	position: absolute;
	margin: 10px 0;
	top: 0px;
	margin-left: 130px;
	text-align: left;
	font-size: 13px;
}
.txt0{
	margin: 5px 20px;
	color: #F00;
	font-weight:bold;
}
.txt1{
	margin: 10px 20px;
	font: 12px/1.3 Arial;
	color: #069;
}
.txt2{
	margin: 5px 20px;
}
.txt3{
	color: #ff007c;
	font: 12px/1.2 Arial;
}
.txt4{
	color: #ff007c;
	font: bold 19px/1.2 Verdana,Helvetica,Arial;
	margin-left: 2px;
}
.txt5{
	text-decoration: underline;
	font-weight: bold;
	margin-left: 2px;
}

.imga img{
	margin: 9px 0 0 15px;
	border: 1px solid #ccc;
	float: left;
}


/* (1)側邊選單樣式 */
#sliderRight{
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 13px;
	line-height: 2.1;
	position:fixed;
	left: auto;
	right: 0px;
	top: 110px;
	width: 124px;
	height: 302px;
	display: block;
	cursor: pointer;
	z-index: 9999;
}
#boxIn{
	position:fixed;
	top: 70px;
	left: auto;
	right: 0px;
	background: url(../img/menu_out.png) no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: none;
	z-index: 9999;
	opacity:0.8;
}
#boxOut{
	position:fixed;
	top: 70px;
	left: auto;
	right: 0px;
	background: url(../img/menu_in.png) no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: block;
	z-index: 9999;
	opacity:0.8;
}
#btnA{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 1px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnB{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 61px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnC{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 181px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnD{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 91px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnE{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 121px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnF{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 151px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}

#btnG{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 31px;
	left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
#btnTOP{
	position: absolute;
	width: 122px;
	height: 30px;
	top: 211px;
    left: auto;
	right: 1px;
	background: url(../img/line.png) no-repeat #2d2d2d;
	color: #FFF;
	opacity:0.8;
}
.top_icon{
	display: inline-block;
	background: url(../img/basics-07.svg) no-repeat;
	width: 20px;
	height: 20px;
}
#banner{
	position: absolute;
    width: 122px;
    height: 121px;
    top: 241px;
    left: 1px;
    background: rgba(15%,15%,15%,0.8);
    color: #FFF;
    opacity: 1;
	z-index: 9999;
	padding-top: 8px;
}
#btnTOP:hover, #btnA:hover, #btnB:hover, #btnC:hover, #btnD:hover, #btnE:hover, #btnF:hover{
	color: #fff;
	background: url(img/line.png) no-repeat #03b094;
}
		
#footer {color:#ffff00; background-color:#ee0000; text-align:center; line-height:1.5; padding:5px 0px; font-size:12px; font-family:Arial, Helvetica, sans-serif; }


/* close CSS */

#close{
	position: absolute;
	top: 488px;
	left: 50%;
	margin-left: 150px !important;
}
.font3 {
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 30px;
	line-height: 30px;
    color: yellow;
	font-weight:bold;
}

/* TAB CSS */
ul li{
	list-style: none;
	border-left: 1px solid #eee;
}
#nav01{
	display:block;
}
#nav02{
	display:none;
}
#nav03{
	display:none;
}
#nav-tabs{
	position:relative;
	top: 0px;
	left: 50%;
	margin-left: -466px;
}
.mo04{
	position: absolute;
	width: 195px;
	height: 51px;
	top: 1363px;
	left: 323px;
	background: url("bar_00.png") no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
.mo05{
	position: absolute;
	width: 205px;
	height: 51px;
	top: 1363px;
	left: 518px;
	background: url("bar_00.png") no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
.mo06{
	position: absolute;
	width: 209px;
	height: 51px;
	top: 1363px;
	left: 723px;
	background: url("bar_00.png") no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}